In [11]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [21]:
model=load_model('model.h5')
with open('onehotencoder.pkl','rb') as file:
    onehotencoder=pickle.load(file)
with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)
with open('scale.pkl','rb') as file:
    scale=pickle.load(file)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [37]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [38]:
geo_encoder=onehotencoder.transform([[input_data['Geography']]]).toarray()
geo_encoder_df=pd.DataFrame(geo_encoder,columns=onehotencoder.get_feature_names_out(['Geography']))

d:\ANN_P1\myyenv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [39]:
geo_encoder_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [40]:
input_df=pd.DataFrame([input_data])

In [41]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [42]:
input_df

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France       1  ...          1               1            50000

[1 rows x 10 columns]

In [43]:
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoder_df],axis=1)

In [59]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [60]:
input_scaled=scale.transform(input_df)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [61]:
model.predict(input_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 47ms/step

array([[1.6703683e-05]], dtype=float32)

In [65]:
pred_probab=model.predict(input_scaled)[0][0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 43ms/step

In [66]:
pred_probab

np.float32(1.6703683e-05)

In [64]:
input_df

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [67]:
if pred_probab>0.5:
    print('Customer is likely to leave the bank') 
else:
    print('Customer is likely to stay with the bank')

Customer is likely to stay with the bank